### Build ###
/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
/build/
!**/src/main/**/build/
!**/src/test/**/build/

### IDE ###
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

### Docker ###
docker-compose.yml
.env
docker-compose*.yml

### System ###
.DS_Store
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

### Maven ###
log/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

### Database ###
*.db
*.sql
*.h2.db

### Application ###
application.properties
application-dev.properties
application-prod.properties